<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        min-width: 200px;
        min-height: 85px;
        text-align: center;
      }
      #time{
        padding: 0.5em;
        font-size: 1.3em;
      }
      #saveBtn{
        background-color: rgb(3, 155, 229);
        color: white;
        margin-left: 1em;
        border: none;
        padding: 0.8em;
        cursor: pointer;
        font-size: 1.1em;
      }
      #saveBtn:hover{
        background-color: rgb(2, 119, 189)
      }
    </style>
    <script src='../js/nova.js'></script>
  </head>

  <body>
    <h2>Nova. Remind me at: </h2>
    <div id="inputWrapper">
        <input type="time" id="time">
        <button id="saveBtn">Save</button>
    </div>
  </body>
</html>